@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: 25% 25%;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    transition: all 0.25s ease-in;
}
button{
    width:50px;
    align-self: flex-end;
    background-color: #121212;
    border-radius: 20px;
    margin-bottom: 10px;
}

.container {
    transition: all 0.25s ease-in;
    height: 100vh;
    max-height: 200vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    justify-content: center;
}

.box1 {
    display: flex;
    justify-content: space-between;
    height: 40%;
}
.box1 .reviews{
    transition: all 0.75s ease-in;
}

.box1 .text {
    width: 36%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.box1 .reviews {
    color: #502050;
    font-weight: bold;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box1 .reviews p {
    margin: 10px 0px;
    width: 85%;
    background-color: #f7f2fa;
    padding: 12px;
    border-radius: 5px;
}

.box1 .reviews .one {

    align-self: flex-start;
}

.two {
    align-self: center;
}

.three {
    align-self: flex-end;
}

.reviews p span {
    margin-left: 40px;
}

.box1 span:nth-child(1) {
    color:#502050;
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 42px;
}

.box1 span:nth-child(2) {
    font-size: 0.825rem;
}

.box2 {
    display: flex;
    gap: 15px;
    height: 40%;
}

.box2 div {
    padding: 20px;
    border-radius: 10px;
    width: 33.33%;
    height: 90%;
    background-color: #502050;
    color: white;
    box-sizing: border-box;
}

.feedback1 {
    cursor: pointer;
    align-self: flex-start;
    transition:all 0.25s ease-in;
}

.feedback2 {
    cursor: pointer;
    align-self: center;
    transition:all 0.25s ease-in;
}

.feedback3 {
    cursor: pointer;
    align-self: flex-end;
    transition:all 0.25s ease-in;
}
.feedback1:hover{
    transform: scale(1.02);
}
.feedback2:hover{
    transform: scale(1.02);
}
.feedback3:hover{
    transform: scale(1.02);
}

.box2 img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.box2 .img {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.box2 .img p {
    font-weight: bold;
}

.box2 .img span {
    color: rgb(190, 1, 190);
    font-weight: 400;
}
body.darkmode{
    background-color: #121212;
}
body.darkmode .box1 span:nth-child(1){
    color: #E0E0E0;
}
body.darkmode .box1 span:nth-child(2){
    color: #B3B3B3;
}
body.darkmode .box2 .feedback{
    background-color: rgb(47, 47, 47);
}
body.darkmode .reviews p{
    background-color: #969497;
    color: white;
}
body.darkmode .reviews img{
    filter: drop-shadow(0px 0px 12px yellow);
}

@media (max-width:768px) {
    

    .container {
        width: 90vw;
        height: auto;
    }

    .box1 {
        flex-direction: column;
        height: 140%;
        align-items: center;
        justify-content: center;
    }

    .box1 .text {
        text-align: center;
        word-wrap: break-word;
        width: 100%;

    }

    .box1 span:nth-child(1) {
        font-size: 1.99rem;
        font-weight: bold;
        line-height: 25px;
    }

    .box1 span:nth-child(2) {
        font-size: 0.825rem;
    }

    .box1 .reviews {
        width: 100%;
        text-align: center;

    }

    .box1 .reviews .one {
        align-self: center;
    }

    .two {
        align-self: center;
    }

    .three {
        align-self: center;
    }

    .reviews span {
        font-size: 0.9rem;
        display: inline-block;

    }


    .box2 {
        flex-direction: column;
    }
    .box2 div{
        width:100%;
    }

    .feedback1 {
        cursor: pointer;
        align-self: center;
    }

    .feedback2 {
        cursor: pointer;
        align-self: center;
    }

    .feedback3 {
        cursor: pointer;
        align-self: center;
    }

}